.main-banner {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
  }
  
  .banner-homem-container {
    background-image: url('../../assets/images/banner/banner_homem.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: flex;
    width: 100%;
    height: 100%;
  }
  
  .banner-content {
    position: absolute;
    bottom: 45%;
    left: 47%;
    z-index: 2;
  }
  
  .banner-button {
    /* fundo escuro translúcido */
    background: rgba(0, 0, 0, 0);
    border: 1px solid white;
    color: white;
    
    /* shape e size */
    border-radius: 30px;
    font-weight: 700;
    font-size: 16px;       /* aumenta se quiseres */
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 12px 32px;
    
    /* centralização e transições */
    display: inline-block;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
  }
  
  .banner-button:hover {
    /* ao passar o rato, fundo branco e texto escuro */
    background-color: white;
    color: #333;
    transform: translateY(-2px);
  }

  @media (max-width: 768px) {
    .main-banner {
      height: 100%;
      width: 100%;
    }
    
    .banner-content {
      bottom: 10%;
      left: 5%;
    }
  }